.modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(218, 218, 218, 0.654);
    z-index: -1;
    position: fixed;
    opacity: 0;
    transform: scale(1.1);
    transition: ease all 0.35s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box {
    position: absolute;
    background-color: aquamarine;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view-modal {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: ease all 0.35s;
}
.disabled-inp {
    cursor: not-allowed;
    background-color: gray;
    caret-color: transparent;
}
select,input,textarea {
    margin: 0.5rem;
    padding: 10px;
    border-radius: 10px;
    transition: 1s ease all;
}
textarea {
    height: 200px;
}
select:hover {
    cursor: pointer;
    transition: 1s ease all;
}
input:hover, textarea:hover {
    transition: 1s ease all;
}
select:focus,input:focus,textarea:focus {
    outline: none;
}
.update-app-btn-group {
    display: flex;
    justify-content: center;
}
.update-app-btn-group > span {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 0.5rem;
    transition: 1s ease all;
}
.update-app-btn-group>span:hover {
    background-color: aqua;
    transition: 1s ease all;
    color: black;
}
.update-app-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
