* {
    box-sizing: border-box;
}
#dashboard {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#side-panel {
    border: 1px solid black;
    width: 20vw;
    background-color: #6d55ff;
    color: white;
    display: flex;
    flex-direction: column;
}
#side-panel-content {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@media screen and (min-width: 601px) {
    div.nav-btn-container {
      font-size: 20px;
    }
  }
  
@media screen and (max-width: 600px) {
    div.nav-btn-container {
      font-size: 10px;
    }
  }

.nav-btn-container{
    width: 100%;
}
.nav-btn {
    border: 1px solid black;
    padding: 10% 20%;
    cursor: pointer;
    transition: 1s ease all;
    
    min-width: 50%;
    width: 100%;
    border: 15%;
    
}
.nav-btn:hover {
    background-color: aqua;
}
#main-screen {
    border: 1px solid #cdfcff;
    width: 80%;
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #cdfcff;
}
#application-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 90%;
    padding: 10px;
}
.add-application-btn{
    background-color:#6d55ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease all;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
}
.application-btn {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease all;
    border-radius: 10px;
}
.application-btn:hover {
    background-color: blueviolet;
}
#applications-display {
    border: 1px solid black;
    width: 90%;
    height: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.no-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#application-stage-selection {
    display: flex;
    justify-content: left;
    width: 100%;
    /* background-color: orange; */
    border-radius: 10px;
    
}
/* .application-stage-btn {
    background-color: pink;
    padding: 10px;
    cursor: pointer;
    transition: 1s ease all;
    border-radius: 10px;
} */
.draft-stage-tab{
    background-color:#6bc1ff;
    padding: 1.5vh 2.5vh;
    min-width: 25%;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
@media (hover: hover) and (pointer: fine) {
    .draft-stage-tab:hover{
        background-color: #85cafb;
        cursor: pointer;

    }
    .applied-stage-tab:hover{
        background-color: #c2fad9;
        cursor: pointer;
    
    }
    .awaiting-stage-tab:hover{
        background-color: #f8c1d5;
        cursor: pointer;
    
    }
    .interview-stage-tab:hover{
        background-color: #fffadc;
        cursor: pointer;
    
    }
}

.applied-stage-tab{
    background-color:#a9ffcb;
    padding: 1.5vh 2.5vh;
    min-width: 25%;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
/* .applied-stage-tab:hover{
    background-color: #c2fad9;
    cursor: pointer;

} */
.interview-stage-tab{
    background-color:#fff5bf;
    padding: 1.5vh 2.5vh;
    min-width: 25%;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
/* .interview-stage-tab:hover{
    background-color: #fbf5cf;
    cursor: pointer;

} */
.awaiting-stage-tab{
    background-color:#ff9cc0;
    padding: 1.5vh 2.5vh;
    min-width: 25%;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
/* .awaiting-stage-tab:hover{
    background-color: #f8c1d5;
    cursor: pointer;

} */
#application-content {
    background-color: aquamarine;
    height: 80%;
    border-radius: 0 10px 10px 10px;
    padding-top: 1vh;
    overflow-y: auto;   
}
#application-module {
    background-color: white;
    height: 80%;
    border-radius: 0 0 10px 10px;
    padding-top: 1vh;
    overflow-y: auto;  
    overflow-x: auto; 
}
#application-detail-header {
    display: flex;
    justify-content: space-evenly;
    padding: 1vh 0vh;
    font-weight: bold;
}
.application-stage-btn:hover {
    background-color: blueviolet;
}
.job-row {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #dbfdff;
    padding: 0.5rem 0rem;
    border-radius: 10px;
}
.job-row.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.core-job-details {
    display: flex;
    justify-content: space-evenly;
    
}
.expanded-job-content {
    flex-direction: column;
    align-items: flex-start;
    background-color: white; 
    border-radius: 10px;
    padding: 10px; 
    margin: 1rem;
    overflow: scroll;
}
.notes-and-appUpdateBtn {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.notes-content {
    display: flex;
    width: 100%;
    margin: 5px;
    text-align: justify;
}
.icon-mod {
    cursor: pointer;
    transition: 0.5s ease all !important;
    border-radius: 10px;
}
.icon-mod.hidden {
    display: none;
}
.icon-mod:hover {
    background-color: rgb(202, 202, 202);
    transition: 0.5s ease all;
}


.home-logo{
    padding-top: 100px;
}


@media screen and (min-width: 601px) {
    #appminderlogo {
        padding-top: 15%;
        padding-bottom: 10%;

    }
}
  
@media screen and (max-width: 600px) {
    #appminderlogo {
        padding-top: 15%;
        padding-bottom: 10%;
        
        /* height:fit-content; */
        
    }
}
