.background-container {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.main-box > img {
    width: 90%;
    height: auto;
}