.modalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 5%;
    background-color: #6d55ff;
    display: block;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    color: white;
}
.ModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalPage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(218, 218, 218, 0.654);
    z-index: 2;
    
    height: 100%;
    width: 100%;
}
@media screen and (max-width:500px) {
    #portal {
        font-size: 12px;
    }

    select,
    input,
    textarea {
        font-size: 8px;
    }
}

@media screen and (min-width:501px) {
    #portal {
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    select {
        padding: 3px;
    }

    .login-inp.add-app {
        padding: 3px;
    }
}

@media screen and (min-width:601px) {
    select {
        padding: 5px;
    }

    .login-inp.add-app {
        padding: 5px;
    }
}

@media screen and (min-width:751px) {
    select {
        padding: 7px;
    }

    .login-inp.add-app {
        padding: 7px;
    }
}

@media screen and (max-width:600px) {
    .login-inp.add-app {
        padding: 3px;
    }
}

@media screen and (min-width:601px) {
    .login-inp.add-app {
        padding: 5px;
    }
}

@media screen and (min-width:751px) {
    .login-inp.add-app {
        padding: 7px;
    }
}

.ModalBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-app-btn {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease all;
    border: 0;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0.35rem;
}

@media screen and (max-width: 600px) {
    .add-app-btn {
        height: 35px;
        font-size: 8px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 601px) {
    .add-app-btn {
        height: 50px;
        border-radius: 20px;
    }
}

.yes-button{
    background-color: #6bc1ff;
    box-shadow: 0px 0px 8px 5px #6bc1ff;
}

@media (hover:hover) and (pointer:fine) {
    .yes-button:hover {
            background-color: #85cafb;
    }
    .no-button:hover {
        background-color: rgb(234, 234, 234);
    }
}

.no-button{
    background-color: rgb(197, 196, 196);
}

.modal-form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}
.modal-form-row.submit-btns {
    justify-content: space-around;
}